/* address */

.address {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.sign {
  display: flex;
  justify-content: center;

  color: rgba(255, 255, 255, 0.4);
}