/* Team */

.section-team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  text-align: center;
}

.team-list > li {
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding-bottom: 24px;
  width: calc((100% - 3 * 30px) / 4);
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list .title {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.list .network {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social:hover,
.social:focus {
  color: #fff;
  background-color: var(--accent-color);
}

.social-svg {
  fill: currentColor;
}